.mixin.out
.previousrun
.pg-native
.sable
.idea
.probe
.curseclient
.vscode
*.bat
*.ps1
*.sh
*.hprof
*.DMP
*.lnk
*.bak
*.gc
*.ref
*.map
/*.json
/*.txt
/*.jar
/*.log
/*.properties
/*.json
/*.dat

HOW-TO-RUN.md
manifest.json
variables.txt

world
ntgl
moonlight-global-datapacks
mods
logs
local
libraries
disabledmods
crash-reports
shaderpacks
resourcepacks
profileImage
saves
cache
adaptive_performance_tweaks
dynamic-resource-pack-cache
dynamic-data-pack-cache
xaero
debug
fancymenu_data
downloads
particular_cache
data
blueprints
XaeroWaypoints*

config/ftbquests/quests/lang/*.snbt

config/ftbquests/quests/lang/recovery/*.snbt

config/ftbquests/quests/lang/**/*.snbt_merged